@page
@model RealEstate.Pages.AdminModel
@{
}

<html>
<head>
    <title>Adminstration</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Dwellings</h5>
                        <a href="/Dwellings/Index" class="btn btn-primary">Go to Dwellings</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Agents</h5>
                        <a href="/Agents/Index" class="btn btn-primary">Go to Agents</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Cities</h5>
                        <a href="/Cities/Index" class="btn btn-primary">Go to Cities</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Sales Offices</h5>
                        <a href="/SalesOffices/Index" class="btn btn-primary">Go to Sales Offices</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
