@page
@model RealEstate.Pages.HelpModel
@{
}

<html>
<head>
    <title>Help</title>
    </head>
<body>
    <ol>
        <li>
            <h6 class="mb-3 mt-5">Click on entity name to list all records</h6>
            <img src="/img/ss1.png" height="400px" alt="First slide">
            <hr />
        </li>
        <li>
            <h6 class="mb-3 mt-5">Click on Create New to create a record</h6>
            <img src="/img/ss2.png" height="400px" alt="First slide">
            <hr />
        </li>
        <li>
            <h6 class="mb-3 mt-5">Click on Edit to edit a particular record</h6>
            <img src="/img/ss3.png" height="400px" alt="First slide">
            <hr />
        </li>
        <li>
            <h6 class="mb-3 mt-5">Click on Details to see the details of a particular record</h6>
            <img src="/img/ss4.png" height="400px" alt="First slide">
            <hr />
        </li>
        <li>
            <h6 class="mb-3 mt-5">Click on Delete to delete a particular record</h6>
            <img src="/img/ss5.png" height="400px" alt="First slide">
            <hr />
        </li>
        <li>
            <h6 class="mb-3 mt-5">Click on Search to search a particular record</h6>
            <img src="/img/ss6.png" height="400px" alt="First slide">
            <hr />
        </li>
    </ol>
    </body>
</html>
