@page
@model RealEstate.Pages.OurTeamAndEstatesModel
@{
}
<html>
<head>
    <title>OurTeamAndEstates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        h3 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px;
            color: brown;
            text-decoration: underline;
        }
        #plx1 {
            background: url(img/house1.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #plx2 {
            background: url(img/house2.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #plx3 {
            background: url(img/house3.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body style="margin-bottom:70px;">
    <div class="heading">
        <h3><em>WOLFS OF REAL ESTATE</em></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/Abhishek_Photo.jpg" alt="Abhishek Jain" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ABHISHEK JAIN</h5>
                        <h6>CEO</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/dhruv.jpg" alt="DHRUV AGARWAL" height="200">
                    <div class="card-body">
                        <h5 class="card-title">DHRUV AGARWAL</h5>
                        <h6>CTO</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/pawar.jpg" alt="ABHISHEK SINGH PAWAR" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ABHISHEK SINGH PAWAR</h5>
                        <h6>COO,CFO,CPO</h6>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-bottom:100px;">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/Robin Scherbatsky.jpeg" alt="Robin Scherbatsky" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ROBIN SCHERBATSKY</h5>
                        <h6>Property Consultant Head</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/Viktoria.jpg" alt="Viktoria" height="200">
                    <div class="card-body">
                        <h5 class="card-title">VIKTORIA</h5>
                        <h6>Recruitment Consultant</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/Barney Stinson.jpg" alt="Barney Stinson" height="200">
                    <div class="card-body">
                        <h5 class="card-title">BARNEY STINSON</h5>
                        <h6>Software Engineer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="heading">
        <h3><em>SOME OF OUR AVAILABLE PROPERTIES</em></h3>
    </div>

    <section id="plx1">
        <div class="container mb-5" style="height:600px;">
            <div class="atitle text-center">
                <p style="color:white;font-size:50px;">65 West, Cincinnati Ohio</p>
                </br>
                <p style="color:white;font-size:20px;text-align:right">This could be yours any day !!</p>
            </div>
        </div>
    </section>

    <hr>

    <section id="plx2">
        <div class="container mb-5" style="height:600px;">
            <div class="atitle text-center">
                <p style="color:white;font-size:50px;">Forum, Cincinnati Ohio</p>
                </br>
                <p style="color:white;font-size:20px;text-align:right">A place for the ones who love peace !!</p>
            </div>
        </div>
    </section>

    <hr>

    <section id="plx3">
        <div class="container mb-5" style="height:600px;">
            <div class="atitle text-center">
                <p style="color:white;font-size:50px;">123 McMillan, Cincinnati Ohio</p>
                </br>
                <p style="color:white;font-size:20px;text-align:right">A place for shopping and outing lovers !!</p>
            </div>
        </div>
    </section>

    <div class="card">
        <h2 class="card-header">OUR STORY</h2>
        <div class="card-body">
            <h4 class="card-title">How we started !</h4>
            <p class="card-text">I all began with a simple dream, a dream that every individual has. We all need a place where we can relax and
            be ourself, away from everyone and everthing. That's what gave us the initial kick to start this company. 5 years ago, our CEO
            imagined a company, which belongs to it's clients and works for their dream. We have served every client after deep analysis and 
            understanding of not only the market but also the personal needs of the client. Whether it is a personal property or a commercial, it
            has it's own significance for the property owner. Now we have expanded in 5 countries and over 200 cities, we are a family of 2000 hardworking
            employees working all day and night for their client's dreams</p>
        </div>
    </div>
</body>
</html>