@page
@model RealEstate.Pages.OurTeamModel
@{
}
<html>
<head>
    <title>Our Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        h3 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px;
            color: brown;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="heading">
        <h3><em>WOLFS OF REAL ESTATES</em></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/Abhishek_Photo.jpg" alt="Abhishek Jain" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ABHISHEK JAIN</h5>
                        <h6>CEO</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/dhruv.jpg" alt="DHRUV AGARWAL" height="200">
                    <div class="card-body">
                        <h5 class="card-title">DHRUV AGARWAL</h5>
                        <h6>CTO</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/pawar.jpg" alt="ABHISHEK SINGH PAWAR" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ABHISHEK SINGH PAWAR</h5>
                        <h6>COO,CFO,CPO</h6>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-bottom:100px;">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/Robin Scherbatsky.jpeg" alt="Robin Scherbatsky" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ROBIN SCHERBATSKY</h5>
                        <h6>Property Consultant Head</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/Viktoria.jpg" alt="Viktoria" height="200">
                    <div class="card-body">
                        <h5 class="card-title">VIKTORIA</h5>
                        <h6>Recruitment Consultant</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/Barney Stinson.jpg" alt="Barney Stinson" height="200">
                    <div class="card-body">
                        <h5 class="card-title">BARNEY STINSON</h5>
                        <h6>Software Engineer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>