@page
@model IndexModel
@{
    ViewData["Title"] = "Dhruv Agarwal Recruitment Firm";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Dhruv Agarwal Recruitment Firm</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="text-center">
            <img src="./img/rec1.jpg" class="rounded" width="500px">
        </div>

        <div class="panel panel-default" style="margin-bottom:60px;">
            <div class="panel-heading"><b>Address</b></div>
            <div class="panel-body">
                2363 Ohio Street Ave
                Cincinnati, OH
                45219
            </div>

            <div class="panel-heading"><b>Phone Number</b></div>
            <div class="panel-body">(123) - 456 - 7890</div>

            <div class="panel-heading"><b>Services Offered</b></div>
            <div class="panel-body">
                <ul>
                    <li>Career Coaching</li>
                    <li>Future Recruitment</li>
                    <li>Portfolio Development</li>
                    <li>Mock Interviews</li>
                </ul>
            </div>

            <div class="panel-heading"><b>Industry</b></div>
            <div class="panel-body">
                <ul>
                    <li>Information Technology</li>
                    <li>Marketing & Sales</li>
                </ul>
            </div>

            <div class="panel-heading"><b>Testimonials</b></div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="./img/bandmember.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">Mike Stan, MS in IS from Arizona State University</h5>
                                    <p class="card-text">The firm helped me secure job in Google.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="./img/avatar_g2.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">Annie, MS in CS from University of Southern California</h5>
                                    <p class="card-text">The firm helped me secure job in Amazon.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-heading"><b>Process To Apply</b></div>
            <div class="panel-body">
                <ol>
                    <li><i>Sign Up</i> on the website</li>
                    <li><i>Click Products</i> on the website</li>
                    <li><i>Select Product</i> on the website</li>
                    <li><i>Make Payment</i> on the website</li>
                </ol>
            </div>
        </div>


    </body>
</html>
